body{

    margin:0;

    background:
    radial-gradient(
        circle at top,
        #171717,
        #050505 65%
    );

    font-family:
    "Noto Sans",
    Arial,
    sans-serif;

    color:white;

    overflow-x:hidden;
}

.animated-bg{

    position:absolute;

    inset:0;

    background:
    repeating-linear-gradient(
        90deg,
        rgba(255,255,255,0.015) 0px,
        rgba(255,255,255,0.015) 1px,
        transparent 1px,
        transparent 120px
    );

    animation:
    moveBg 12s linear infinite;

    opacity:0.25;
}

@keyframes moveBg{

    from{

        transform:
        translateX(0);
    }

    to{

        transform:
        translateX(120px);
    }
}

nav{

    position:fixed;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:28px 70px;

    box-sizing:border-box;

    backdrop-filter:blur(12px);

    background:
    rgba(0,0,0,0.18);

    z-index:1000;
}

.logo{

    color:#f5deb3;

    font-size:22px;

    font-weight:bold;

    letter-spacing:3px;
}

.nav-right{

    display:flex;

    align-items:center;

    gap:40px;
}

ul{

    display:flex;

    list-style:none;

    gap:45px;

    margin:0;
}

li{

    color:#d0d0d0;

    cursor:pointer;

    transition:0.3s;
}

li:hover{

    color:#d4af37;
}

.languages{

    display:flex;

    align-items:center;

    gap:12px;

    padding:10px 16px;

    border-radius:20px;

    background:
    rgba(255,255,255,0.04);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);
}

.lang{

    font-size:15px;

    font-weight:bold;

    letter-spacing:1px;

    cursor:pointer;

    transition:0.3s;

    opacity:0.55;
}

.lang:hover{

    transform:
    translateY(-3px)
    scale(1.08);

    opacity:1;
}

.active{

    opacity:1;

    color:#f5deb3;

    text-shadow:
    0px 0px 10px rgba(212,175,55,0.45);
}

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:0 20px;

    position:relative;

    overflow:hidden;
}

.orb{

    position:absolute;

    width:520px;

    height:520px;

    border-radius:50%;

    background:
    radial-gradient(
        circle at 30% 30%,
        rgba(255,230,170,0.95),
        rgba(212,175,55,0.45),
        rgba(90,60,10,0.15),
        transparent 75%
    );

    filter:
    blur(12px);

    opacity:0.75;

    animation:
    floatOrb 8s ease-in-out infinite;

    z-index:1;

    box-shadow:
    0px 0px 120px rgba(212,175,55,0.18);
}

.hero-glow{

    position:absolute;

    width:750px;

    height:750px;

    background:
    radial-gradient(
        circle,
        rgba(212,175,55,0.08),
        transparent 70%
    );

    filter:blur(45px);

    z-index:1;
}

.hero-content{

    position:relative;

    z-index:5;

    max-width:1000px;
}

.mini-title{

    color:#c9a227;

    letter-spacing:4px;

    font-size:13px;
}

.hero h1{

    font-size:88px;

    line-height:1.02;

    margin-top:25px;

    margin-bottom:25px;

    color:#f5deb3;
}

.hero p{

    max-width:800px;

    margin:auto;

    font-size:22px;

    line-height:1.8;

    color:#b8b8b8;
}

.hero-buttons{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.gold-btn{

    padding:18px 42px;

    border:none;

    border-radius:14px;

    background:
    linear-gradient(
        135deg,
        #f5deb3,
        #c9a227
    );

    color:black;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.35s;
}

.gold-btn:hover{

    transform:
    translateY(-4px);

    box-shadow:
    0px 0px 25px rgba(212,175,55,0.35);
}

.dark-btn{

    padding:18px 42px;

    border-radius:14px;

    border:
    1px solid rgba(255,255,255,0.12);

    background:
    rgba(255,255,255,0.03);

    color:white;

    cursor:pointer;

    transition:0.35s;
}

.dark-btn:hover{

    transform:
    translateY(-4px);

    background:
    rgba(255,255,255,0.06);
}

.cards{

    display:flex;

    justify-content:center;

    gap:35px;

    flex-wrap:wrap;

    margin-top:-120px;

    padding-bottom:140px;

    position:relative;

    z-index:5;
}

.card{

    position:relative;

    overflow:hidden;

    width:280px;

    padding:45px;

    border-radius:28px;

    text-decoration:none;

    color:white;

    background:
    rgba(255,255,255,0.035);

    border:
    1px solid rgba(255,255,255,0.09);

    backdrop-filter:
    blur(18px);

    transition:0.4s;

    opacity:0;

    transform:
    translateY(40px);

    animation:
    fadeUp 1s ease forwards;
}

.card::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.06),
        transparent
    );

    transform:
    translateX(-120%);

    transition:1s;
}

.card:hover::before{

    transform:
    translateX(120%);
}

.card:nth-child(1){

    animation-delay:0.2s;
}

.card:nth-child(2){

    animation-delay:0.4s;
}

.card:nth-child(3){

    animation-delay:0.6s;
}

.card:hover{

    transform:
    translateY(-12px);
}

.card-number{

    color:#c9a227;

    font-size:14px;

    letter-spacing:3px;

    margin-bottom:20px;
}

.card h3{

    color:#f5deb3;

    font-size:30px;
}

.dashboard{

    padding:120px 20px;

    display:flex;

    justify-content:center;
}

.dashboard-box{

    width:1200px;

    max-width:100%;

    padding:50px;

    border-radius:30px;

    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:
    blur(18px);
}

.dashboard-title{

    font-size:48px;

    color:#f5deb3;

    text-align:center;
}

.dashboard-subtitle{

    color:#b8b8b8;

    text-align:center;

    margin-bottom:50px;
}

.stats{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;
}

.stat{

    width:220px;

    padding:30px;

    border-radius:24px;

    background:
    rgba(255,255,255,0.025);

    border:
    1px solid rgba(255,255,255,0.05);

    text-align:center;
}

.stat h3{

    color:#d4af37;

    font-size:42px;
}

.mini-ai{

    width:420px;

    max-width:90%;

    margin:100px auto;

    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.08);

    border-radius:28px;

    backdrop-filter:
    blur(18px);

    overflow:hidden;
}

.ai-header{

    padding:20px;

    border-bottom:
    1px solid rgba(255,255,255,0.08);

    color:#f5deb3;

    font-weight:bold;
}

.ai-chat{

    padding:25px;

    min-height:120px;
}

.ai-message{

    background:
    rgba(255,255,255,0.05);

    padding:18px;

    border-radius:18px;

    color:#d0d0d0;
}

.ai-input{

    display:flex;

    border-top:
    1px solid rgba(255,255,255,0.08);
}

.ai-input input{

    flex:1;

    background:transparent;

    border:none;

    padding:20px;

    color:white;

    outline:none;
}

.ai-input button{

    margin:0;

    border-radius:0;

    padding:0 30px;
}

.language-flash{

    position:fixed;

    inset:0;

    pointer-events:none;

    z-index:99999;

    opacity:0;

    overflow:hidden;
}

.language-flash::before{

    content:"";

    position:absolute;

    top:-20%;

    left:-45%;

    width:28%;

    height:140%;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(255,220,140,0.10),
        rgba(255,240,200,0.24),
        rgba(255,220,140,0.10),
        transparent
    );

    filter:
    blur(40px);

    transform:
    skewX(-18deg);

    box-shadow:
    0px 0px 120px rgba(255,220,140,0.18);
}

.flash-active{

    opacity:1;
}

.flash-active::before{

    animation:
    premiumSweep 0.52s ease;
}

.login-body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.login-container{

    width:420px;

    max-width:90%;

    padding:50px;

    border-radius:30px;

    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:
    blur(20px);

    text-align:center;
}

.login-container h1{

    color:#f5deb3;

    font-size:42px;
}

.login-container p{

    color:#bdbdbd;

    margin-bottom:35px;
}

.login-container form{

    display:flex;

    flex-direction:column;

    gap:18px;
}

.login-container input{

    padding:18px;

    border:none;

    border-radius:14px;

    background:
    rgba(255,255,255,0.05);

    color:white;

    outline:none;
}

.login-container button{

    margin-top:10px;
}

.account-btn{

    padding:14px 22px;

    border-radius:14px;

    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.08);

    color:#f5deb3;

    cursor:pointer;
}

.welcome-section{

    padding-top:180px;

    text-align:center;
}

.welcome-section h1{

    font-size:64px;

    color:#f5deb3;
}

.welcome-section p{

    color:#bdbdbd;

    font-size:20px;
}

@keyframes floatOrb{

    0%{

        transform:
        translateY(0px);
    }

    50%{

        transform:
        translateY(-20px);
    }

    100%{

        transform:
        translateY(0px);
    }
}

@keyframes fadeUp{

    to{

        opacity:1;

        transform:
        translateY(0);
    }
}

@keyframes premiumSweep{

    from{

        left:-45%;
    }

    to{

        left:140%;
    }
}

@media(max-width:800px){

    nav{

        padding:22px 25px;

        flex-direction:column;

        gap:20px;
    }

    .nav-right{

        flex-direction:column;

        gap:20px;
    }

    ul{

        gap:20px;

        padding:0;

        flex-wrap:wrap;

        justify-content:center;
    }

    .hero{

        padding-top:180px;
    }

    .hero h1{

        font-size:44px;
    }

    .hero p{

        font-size:17px;
    }

    .hero-buttons{

        flex-direction:column;

        align-items:center;
    }

    .orb{

        width:350px;

        height:350px;
    }
}

@media(max-width:600px){

    .hero{

        padding-top:220px;
    }

    .hero h1{

        font-size:34px;

        line-height:1.15;
    }

    .card{

        width:100%;
    }

    .stat{

        width:100%;
    }

    .mini-ai{

        width:95%;
    }

    .welcome-section h1{

        font-size:38px;
    }
}