<!DOCTYPE html>

<html>

<head>

    <title>Prototipo IA</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>


    <nav>

        <ul>

            <li>Servicios</li>

            <li>Características</li>

            <li>Contacto</li>

        </ul>

    </nav>


    <section class="hero">

        <h1>
            Automatización inteligente
            para negocios modernos
        </h1>

        <p>
            Gestiona clientes, automatiza tareas
            y mejora tu negocio con inteligencia artificial.
        </p>

        <button>
            Próximamente
        </button>

    </section>


    <section class="cards">

        <a href="/atencion" class="card">

            <h3>
                Atención al cliente
            </h3>

            <p>
                ¿Tuviste un error con X?
                ¡Contáctanos!
            </p>

        </a>

        <a href="/automatizacion" class="card">

            <h3>
                Procesos
            </h3>

            <p>
                    Revisa todos los procesos automáticos
                realizados previamente
            </p>

        </a>

        <a href="/estadisticas" class="card">

            <h3>
                Estadísticas IA
            </h3>

            <p>
                Revisa los Insights y análisis
                inteligentes del negocio
            </p>

        </a>

    </section>


    <section class="steps">

        <h2>
            Cómo funciona
        </h2>

        <div class="steps-container">

            <div class="step">

                <span>01</span>

                <h3>
                    Conecta
                </h3>

                <p>
                    Vincula tus redes
                    y herramientas empresariales.
                </p>

            </div>

            <div class="step">

                <span>02</span>

                <h3>
                    Automatiza
                </h3>

                <p>
                    La IA responde,
                    organiza y optimiza procesos.
                </p>

            </div>

            <div class="step">

                <span>03</span>

                <h3>
                    Analiza
                </h3>

                <p>
                    Obtén estadísticas
                    e insights inteligentes.
                </p>

            </div>

        </div>

    </section>

</body>

</html>