<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prototipo IA</title>

    <!-- CSS -->

    <link
    rel="stylesheet"
    href="/static/style.css">

    <!-- FUENTE -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <!-- NAVBAR -->

    <nav>

        <ul>

            <li>Servicios</li>

            <li>Características</li>

            <li>Contacto</li>

        </ul>

    </nav>

    <!-- HERO -->

    <section class="hero">

        <h1>
            Automatización inteligente
            para negocios modernos
        </h1>

        <p>
            Gestiona clientes, automatiza tareas
            y mejora tu negocio con inteligencia artificial.
        </p>

        <button>
            Próximamente
        </button>

    </section>

    <!-- CARDS -->

    <section class="cards">

        <a href="/atencion" class="card">

            <h3>
                Atención al cliente
            </h3>

            <p>
                ¿Tuviste un error con X?
                ¡Contáctanos!
            </p>

        </a>

        <a href="/automatizacion" class="card">

            <h3>
                Procesos
            </h3>

            <p>
                Revisa todos los procesos automáticos
                realizados previamente
            </p>

        </a>

        <a href="/estadisticas" class="card">

            <h3>
                Estadísticas IA
            </h3>

            <p>
                Revisa los insights y análisis
                inteligentes del negocio
            </p>

        </a>

    </section>

</body>

</html>